---
layout: base-final.swig
title: رویای داده های عمومی
---

<div class="w3-row-padding w3-padding-64 w3-container">

<h1 class="w3-jumbo">رویای داده های عمومی</h1>

<p>
تا به حال به این فکر کرده اید که اگر همه داده ها در جهان عمومی بود، جهان به چه شکل
می شد؟ در این نوشته چشم اندازی از این دنیا ارائه می شود.
</p>

</div>

<div class="w3-row-padding w3-light-gray w3-container">

  <h1> حوزه صنعت و اقتصاد </h1>

  <p>
    صنعتی که امروز وجود دارد و داده های تولید را انحصار می کند، ناکارامد است.
    این صنعت به جای این که خودش را با طبیعت تطبیق دهد تا بهینه باشد، خودش را
    با مناسبات انسانی تطبیق داده است. با انحصار داده ها و روش های تولید ساختاری
    متمرکز و بسیار ناکارآمد به وجود آمده است که همه را به خود نیازمند کرده است
    و مانند یک سیاه چاله، توان بشر را در خود می بلعد.
  </p>
  <p>
    در دنیایی که همه داده ها در آن عمومی هستند، در عین حال که همه چیز به سمت
    یکپارچه و استاندارد شدن می رود تولید به دست نهاد های محلی انجام می گیرد.
    برند ها باز هم وجود خواهند داشت اما نه به صورت کنونی که سعی در رقابت
    با هم و انحصار بیشتر و تصاحب سهم بیشتر از بازار هستند، بلکه برند هایی عمومی
    که هدفشان خدمت به جامعه است، هر کسی می تواند تحت آن برند فعالیت کند و هر
    کسی می تواند از آن استفاده کند. برای اطلاعات بیشتر
    <a href="/articles/distributed-brands">برند های غیر متمرکز</a>
    را ببینید.
  </p>
  <p>
    کمپانی ها و کارخانه های به شکل امروز که به دنبال ماکسیمم کردن سود خود هستند می توانند
    وجود داشته باشند اما رشد قارچ گونه آن ها متوقف یا بسیار کند می شود؛ زیرا تولید در
    انحصار آن ها نیست و هر کسی می تواند عین محصول آن ها را تولید کند و در نتیجه قیمت
    کالا به قیمت مواد اولیه و زیرساخت آن می رسد و کسی نمی تواند از تولید سود آن چنانی ببرد
    که به صورت نمایی رشد کند.
  </p>
  <p>
    افراد دیگر نیاز ندارند که جزیی از سیستم گسترده اقتصادی فعلی باشند و می توانند
    استقلال پیدا کنند. دیگر بیکاری (به معنی عدم کار برای سیستم) یک عیب محسوب نمی شود
    و فرد بیکار معادل فرد بدبخت نیست. افراد می توانند نیاز های خود را به صورت گروه های
    کوچک محلی یا حتی به صورت فردی تامین کنند! توجه کنید که نیازی نیست که همه در همه
    زمینه ها متخصص بشوند (اگر چه این کار برایشان هزینه ای جز زمان ندارند چون آموزش
    عمومی و بدون هزینه است) تا بتوانند محصول خود را تولید کنند، بلکه برخی مهارت های
    ساده (مانند خواندن نقشه یا مهارت های کارگاهی ساده) کافی است. برای مثال شما برای
    ساخت ماشین نیازی نیست که مهندس مکانیک باشید، و کافیست که داده های مربوط که یک مهندس
    مکانیک تولید کرده است را دانلود کنید، مواد اولیه را تهیه کنید و شروع به ساخت کنید.
    برای این موضوع لوازم تولید عام منظوره در سطح شخصی، مانند پرینتر های سه بعدی می توانند
    بسیار در زمان و پیچیدگی تولید تاثیر گذار باشند و این موضوع را از یک ایده تخیلی به
    قابل اجرا تبدیل کنند. برای اطلاعات بیشتر
    <a href="/articles/desktop-factory">کارخانه های رومیزی</a>
    را ببینید.
    <br>
    این استقلال باعث می شود که نیروی کار کم شده و در نتیجه بسیار گران شود. و این موضوع
    باعث می شود تا روش های تولید اتوماتیک و با دستگاه ها بهینه تر شود و به تدریج
    روش های تولیدی که نیاز به کارگر دارند از بین بروند و کنار گذاشته شوند.
  </p>
</div>


<div class="w3-row-padding w3-container">

  <h1> حوزه فرهنگ </h1>
  <p>
    به عنوان تاثیر مستقیم داده های عمومی روی فرهنگ می توان به این موضوع اشاره کرد که منابع
    و محصولات فرهنگی که عموما داده هستند، در دسترس همه قرار خواهند گرفت و مجانی خواهند
    شد. آمار نشان می دهد که یکی از
    دلایل کم بودن سرانه مطالعه در ایران گران بودن کتاب است و این نکته اهمیت این موضوع
    برای فرهنگ را نشان می دهد.
  </p>
  <p>
    هرم سلسله مراتب نیاز های انسان را در نظر بگیرید. استقلال
    انسان از سیستم اقتصادی که در قسمت بالا به آن اشاره شد، نیاز های طبقه های پایین
    را برطرف می کند و انسان می تواند به نیاز های طبقه های بالاتر خود بپردازد. انسانی
    که مجبور است نیمی از عمرش را به انجام یک کار تکراری اختصاص دهد، آیا اصلا فرصت
    می کند که به مسائل دیگر فکر کند؟ این تاثیر غیر مستقیمی است که عمومی شدن داده ها بر
    مسائل فرهنگی می گذارد.
  </p>
  
</div>
  
  
<div class="w3-row-padding w3-light-gray w3-container">

  <h1> حوزه محیط زیست </h1>
  <p>
    اگر تولید در انحصار کسی نباشد، قیمت کالا ها برابر هزینه مواد اولیه و تاسیسات
    مورد نیاز می شود. بنابراین مواد اولیه بسیار ارزشمند و گران می شود که این
    به معنی کم شدن استفاده از مواد اولیه می باشد که به نفع محیط زیست است.
  </p>
  <p>
    در کنار این مطلب، ضعیف شدن کمپانی ها و استقلال مردم از آن ها باعث کمرنگ شدن مصرف گرایی
    خواهد شد. وقتی مردم خودشان می توانند نیاز های خودشان را تامین کنند دیگر برای کسی
    سودی ندارد تا برای مردم با تبلیغات فراوان نیاز ایجاد کند. بنابراین مصرف گرایی به تدریج
    حذف شده و منابع کمتری از محیط زیست مصرف می شود.
  </p>
  
</div>

<div class="w3-row-padding w3-container">

  <h1> حوزه بهداشت و درمان </h1>
  <p>
    امروزه سیستم بهداشتی به شدت گران و پر هزینه است و هزینه های آن قابل پرداخت برای
    بسیاری نیست. برای رفع این مشکل راه حل هایی مانند یارانه های دولتی یا بیمه پیشنهاد
    شده اند که به طور کامل موفق نبوده و مشکلات خاص خود را دارند.
  </p>
  <p>
    داده های عمومی می توانند به طور چشمگیری هزینه های پزشکی را کم کنند. بخش عمده ای از
    گران بودن تجهیزات پزشکی به این دلیل است که انحصار آن ها دست یک یا چند کمپانی محدود
    است. تشخیص می تواند از پزشک به ماشین محول شود؛ برنامه های کامپیوتری می توانند
    نتایج آزمایش ها را دریافت کرده و بر مبنای آن بیماری را تشخیص دهند. برنامه هایی که
    خود داده های عمومی هستند. به این ترتیب پزشکی ارزان و قابل دسترس برای همه خواهد
    شد.
  </p>
</div>
